<footer>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-8">
                <h3>
                    CAMPUS ADMISSION PORTAL
                </h3>
                <p>
                    Feel free to share your information, this portal is secured enough to keep your data confidential.
                </p>
            </div>
            <div class="col-4 ">
                <h3>
                    Contact Us
                </h3>
                <ul>

                    <li>+92000000000</li>
                    <li>admission@campus.edu.com</li>
                </ul>

            </div>

            <div class="row justify-content-between">
                <div class="col-md-5 offset-md-5">
                    <h4>Follow Us:</h4>
                    <p>
                        <a href=""><img src="https://img.icons8.com/color/48/000000/linkedin.png" /></a>
                        <a href=""> <img src="https://img.icons8.com/color/48/000000/facebook-new.png" /></a>
                        <a href=""><img src="https://img.icons8.com/color/48/000000/instagram-new--v1.png" /></a>
                        <a href=""> <img src="https://img.icons8.com/color/48/000000/twitter--v1.png" /></a>
                    </p>

                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-6 offset-md-5">

                    <p>@copyrights reserved</p>

                </div>
            </div>
        </div>

</footer>

</body>

</html>